html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.under {
  &-container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  &-card {
    border-radius: 0px;
    border: 2px solid $gray;
    box-shadow: 12px 12px 0px #15137c;

    @media screen and (min-width: 1200px) {
      width: 75%;
    }
    @media screen and (max-width: 1199px) {
      width: 100%;
    }

    &__header {
      background-color: $white;
      border-bottom: 2px solid $gray;
      h1 {
        font-family: $montserrat;
        font-weight: 700;
        color: $orange;
      }
    }
    &__body {
      padding-left: 4rem;
      padding-right: 4rem;
      p {
        font-family: $montserrat;
        font-weight: 400;
      }
    }
    &__footer {
      background-color: $white;
      border-top: 2px solid $gray;
      padding-left: 4rem;
      padding-right: 4rem;
      p {
        font-family: $montserrat;
        font-weight: 400;
      }
    }
  }
  &-input {
    border: 2px solid $purple;
    border-radius: 0;
    font-family: $montserrat;
    font-weight: 400;
    padding: 10px 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
  }
  &-btn {
    background-color: $bg-cyan;
    font-family: $montserrat;
    font-weight: 700;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 14px 20px;
    &:hover {
      background-color: $bg-cyan;
      font-family: $montserrat;
      font-weight: 700;
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.18);
      border-color: transparent;
    }
  }
  &-bg-dark-purple {
    background-color: $bg-blue;
    & > div {
      @media screen and (min-width: 1200px) {
        height: 100%;
      }
      @media screen and (max-width: 1199px) {
        height: auto;
      }
    }
  }
  &-bg-pattern {
    background-image: url("../../static/bg-pattern-purple.svg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    & > div {
      @media screen and (min-width: 1200px) {
        height: 100%;
      }
      @media screen and (max-width: 1199px) {
        height: auto;
      }
    }
  }

  &-image {
    @media screen and (min-width: 1200px) {
      width: 50%;
    }
    @media screen and (max-width: 1199px) {
      width: 75%;
    }
  }
}

.row {
  @media screen and (min-width: 1200px) {
    height: 100%;
  }
  @media screen and (max-width: 1199px) {
    height: auto;
  }
}

.wpcf7-spinner {
  display: block !important;
  background-color: $purple !important;
  margin: 5px auto !important;
}

.wpcf7 form.sent .wpcf7-response-output {
  background-color: $bg-purple !important;
  font-family: $montserrat !important;
  font-weight: 700 !important;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12) !important;
  color: $white !important;
  border: 2px solid $blue !important !important;
  padding: 10px 16px !important;
}

.wpcf7 form.invalid .wpcf7-response-output, 
.wpcf7 form.error .wpcf7-response-output{
  background-color: $bg-blue !important;
  font-family: $montserrat !important;
  font-weight: 700 !important;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12) !important;
  color: $white !important;
  border: 2px solid $orange !important !important;
  padding: 10px 16px !important;
}
