<div class="row">
	<div class="col-lg-4 col-12 text-center mx-auto">
		<form method="get" id="search-form-alt w-50" action="/">
			<div class="input-group mb-3">
				<input type="text" class="form-control search__input" placeholder="Where do you want to go?" aria-label="Where do you want to go?" aria-describedby="basic-addon2">
				<span class="input-group-text search__input-addon" id="basic-addon2">
					<img src="{{fn('get_stylesheet_directory_uri')}}/static/search.svg" alt="" width="20" height="100%">
				</span>
			</div>
		</form>
	</div>
</div>
