{% extends "layouts/base.twig" %}
{% block content %}
    <section class="error">
        <h1 class="error__number">{{ page.error }}</h1>
        <h2 class="error__subtitle">{{ page.subtitle }}</h2>
        <p class="error__description">{{ page.description }}</p>
        <a class="error__button" href="/">{{ page.button}} </a>
    </section>
{% endblock %}